<div class="detail-section">
    <div class="container-fluid">
        
        <img src="{{ product.imageUrl }}"  class="detail-img">

        <h3>{{ product.name }}</h3>
        <div class="price">
            {{ product.unitPrice | currency:'EUR' }}
        </div>

        <button (click)="addToCart()" href="#" class="btn btn-primary btn-sm">Ajouter au panier</button>
        <!-- <a href="#" class="primary-btn">Ajouter au panier</a> -->

        <hr>
        <h4>Description</h4>
        <p>{{ product.description }}</p>

        <a routerLink="/products" class="mt-5">Revenir à la liste de jeux</a>

    </div>
</div>





