<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">
        <!-- <li *ngFor="let tempProductCategory of productCategories">
          <button type="button" class="btn btn-primary" routerLink="/category/{{ tempProductCategory.id }}" routerLinkActive="active-link">
            {{ tempProductCategory.categoryName }}

          </button>
        </li> -->
        <li>
          <button type="button" class="btn btn-outline-primary" routerLink="/category/1" routerLinkActive="active-link">Playstation®<img src="assets/images/playstation.png" style="height:16px;"/></button>
        </li>
        <br />
        <li>
          <button type="button" class="btn btn-outline-success" routerLink="/category/2" routerLinkActive="active-link">Xbox® <img src="assets/images/xbox.png" style="height:20px;"/></button>
        </li>
        <br />
        <li>
          <button type="button" class="btn btn-outline-danger" routerLink="/category/3" routerLinkActive="active-link">Nintendo®<img src="assets/images/nintendo.png" style="width:20px; height:20px;"/></button>
        </li>
        <br />
        <li>
          <button type="button" class="btn btn-outline-secondary" routerLink="/category/4" routerLinkActive="active-link">PC® <img src="assets/images/pc.png" style="height:20px;"/></button>
        </li>
      </ul>
    </nav>
</div>
