<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block" style="background-color: rgb(28, 13, 28)">
    <div class="logo" style="background-color: black;">
      <!-- <a href="#"> -->
      <a routerLink="/products">
        <!-- <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive"> -->
        <img src="favicon.ico" alt="playstation" style="width:100px; height:75px;" class="img-responsive">
      </a>
    </div>

    <app-product-category-menu></app-product-category-menu>
    
    
  </aside>
  <!-- END MENU SIDEBAR-->

  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">

            <app-search></app-search>

            <app-cart-status></app-cart-status>

            

            
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>

  </div>
</div>

<!-- ENDS PAGE CONTAINER -->

<footer>
  <ul>
    <li><button type="button" class="btn btn-dark">About Us</button></li>
    <li><button type="button" class="btn btn-dark">Contact Us</button></li>
    <li><button type="button" class="btn btn-dark">Help</button></li>
  </ul>
</footer>