<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Client</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Prénom</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger mt-1">
                                  
                                    <div *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']">
                                        Le prénom doit être renseigné
                                    </div>
                            
                                    <div *ngIf="firstName?.errors?.['minlength']">
                                        Le prénom doit être minimum de 2 caractères
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Nom</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger mt-1">
                                  
                                    <div *ngIf="lastName?.errors?.['required'] || lastName?.errors?.['notOnlyWhitespace']">
                                        Le nom de famille doit être renseigné
                                    </div>
                            
                                    <div *ngIf="lastName?.errors?.['minlength']">
                                        Le nom de famille doit être minimum de 2 caractères
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Email</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-1">
                                  
                                    <div *ngIf="email?.errors?.['required']">
                                        L'adresse e-mail doit être renseignée
                                    </div>
                            
                                    <div *ngIf="email?.errors?.['minlength']">
                                        L'adresse e-mail doit être au format valide
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- shipping Address -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Adresse d'expédition</h3>
                
                    <div class="row">
                        <div class="col-md-2">
                            <label>Pays</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>

                                <div *ngIf="shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)" class="alert alert-danger mt-1"> 
                                    <div *ngIf="shippingAddressCountry?.errors?.['required']">
                                        Le pays doit être renseigné
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Rue</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">

                                <div *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)" class="alert alert-danger mt-1">                                
                                    <div *ngIf="shippingAddressStreet?.errors?.['required'] || shippingAddressStreet?.errors?.['notOnlyWhitespace']">
                                        La rue doit être renseignée
                                    </div> 
                                    <div *ngIf="billingAddressStreet?.errors?.['minlength']">
                                        La rue doit être minimum de 2 caractères
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Ville</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">

                                <div *ngIf="shippingAddressCity?.invalid && (shippingAddressCity?.dirty || shippingAddressCity?.touched)" class="alert alert-danger mt-1">                                
                                    <div *ngIf="shippingAddressCity?.errors?.['required'] || shippingAddressCity?.errors?.['notOnlyWhitespace']">
                                        La ville doit être renseignée
                                    </div> 
                                    <div *ngIf="billingAddressStreet?.errors?.['minlength']">
                                        La rue doit être minimum de 2 caractères
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            

                    <div class="row">
                        <div class="col-md-2">
                            <label>Etat</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>

                                <div *ngIf="shippingAddressState?.invalid && (shippingAddressState?.dirty || shippingAddressState?.touched)" class="alert alert-danger mt-1">                                
                                    <div *ngIf="shippingAddressState?.errors?.['required']">
                                        L'état doit être renseigné
                                    </div> 
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Code postal</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">

                                <div *ngIf="shippingAddressZipCode?.invalid && (shippingAddressZipCode?.dirty || shippingAddressZipCode?.touched)" class="alert alert-danger mt-1">                                
                                    <div *ngIf="shippingAddressZipCode?.errors?.['required'] || shippingAddressZipCode?.errors?.['notOnlyWhitespace']">
                                        Le code postal doit être renseigné
                                    </div> 

                                    <div *ngIf="shippingAddressZipCode?.errors?.['minlength']">
                                        Le code postal doit être minimum de 2 caractères
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
            

                </div>

                <!-- Add check box to copy shipping to billing -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Les adresses de facturation et d'expédition sont les mêmes
                    </label>
                </div>

                <!-- Billing Address -->

                <div formGroupName="billingAddress" class="form-area">
                    <h3>Adresse de facturation</h3>
                
                    <div class="row">
                        <div class="col-md-2">
                            <label>Pays</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>

                                <div *ngIf="billingAddressCountry?.invalid && (shippingAddressCountry?.dirty || billingAddressCountry?.touched)" class="alert alert-danger mt-1"> 
                                    <div *ngIf="billingAddressCountry?.errors?.['required']">
                                        Le pays doit être renseigné
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Rue</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">

                                <div *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)" class="alert alert-danger mt-1"> 
                                    <div *ngIf="billingAddressStreet?.errors?.['required'] || billingAddressStreet?.errors?.['notOnlyWhitespace']">
                                        La rue doit être renseignée
                                    </div>
                                    <div *ngIf="billingAddressStreet?.errors?.['minlength']">
                                        La rue doit être minimum de 2 caractères
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Ville</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">

                                <div *ngIf="billingAddressCity?.invalid && (billingAddressCity?.dirty || billingAddressCity?.touched)" class="alert alert-danger mt-1"> 
                                    <div *ngIf="billingAddressCity?.errors?.['required'] || billingAddressCity?.errors?.['notOnlyWhitespace']">
                                        La ville  doit être renseignée
                                    </div>

                                    <div *ngIf="billingAddressCity?.errors?.['minlength']">
                                        La ville doit être minimum de 2 caractères
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
            

                    <div class="row">
                        <div class="col-md-2">
                            <label>Etat</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                    <!-- <option *ngFor="let state of shippingAddressStates" [ngValue]="state">{{ state.name }}</option> -->
                                </select>

                                <div *ngIf="billingAddressState?.invalid && (billingAddressState?.dirty || billingAddressState?.touched)" class="alert alert-danger mt-1"> 
                                    <div *ngIf="billingAddressState?.errors?.['required']">
                                        L'état doit être renseignée
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Code postal</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">

                                <div *ngIf="billingAddressZipCode?.invalid && (billingAddressZipCode?.dirty || billingAddressZipCode?.touched)" class="alert alert-danger mt-1"> 
                                    <div *ngIf="billingAddressZipCode?.errors?.['required'] || billingAddressZipCode?.errors?.['notOnlyWhitespace']">
                                        Le code postal doit être renseigné
                                    </div>
                                    
                                    <div *ngIf="billingAddressZipCode?.errors?.['minlength']">
                                        Le code postal doit être minimum de 2 caractères
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
            

                </div>

                <!-- Credit Card -->
                <div formGroupName="creditCard" class="form-area">

                    <h3>Carte bancaire</h3>
                
                    <div class="row">
                        <div class="col-md-2">
                            <label>Type de carte</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option src="../../../assets/images/visa.png">Visa </option>
                                    <option>Mastercard</option>
                                </select>
                                <div *ngIf="creditCardType?.invalid && (creditCardType?.dirty || creditCardType?.touched)" class="alert alert-danger mt-1"> 
                                    <div *ngIf="creditCardType?.errors?.['required']">
                                        Le type de carte de crédit doit être renseigné
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Nom du titulaire</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                                <div *ngIf="creditCardNameOnCard?.invalid && (creditCardNameOnCard?.dirty || creditCardNameOnCard?.touched)" class="alert alert-danger mt-1"> 
                                    <div *ngIf="creditCardNameOnCard?.errors?.['required'] || creditCardNameOnCard?.errors?.['notOnlyWhitespace']">
                                        Le nom du titulaire doit être renseigné
                                    </div>
                                    <div *ngIf="creditCardNameOnCard?.errors?.['minlength']">
                                        Le nom du titulaire doit être minimum de 2 caractères
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Numéro de carte</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">

                                <div *ngIf="creditCardNumber?.invalid && (creditCardNumber?.dirty || creditCardNumber?.touched)" class="alert alert-danger mt-1"> 
                                    <div *ngIf="creditCardNumber?.errors?.['required']">
                                        Le numéro de la carte doit être renseigné
                                    </div>
                                    <div *ngIf="creditCardNumber?.errors?.['pattern']">
                                        Le numéro de la carte doit être de 16 chiffres
                                    </div>      
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Cryptogramme</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                                <div *ngIf="creditCardSecurityCode?.invalid && (creditCardSecurityCode?.dirty || creditCardSecurityCode?.touched)" class="alert alert-danger mt-1"> 
                                    <div *ngIf="creditCardSecurityCode?.errors?.['required']">
                                        Le cryptogramme doit être renseigné
                                    </div>
                                    <div *ngIf="creditCardSecurityCode?.errors?.['pattern']">
                                        Le cryptogramme doit être de 3 chiffres
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2">
                            <label>Mois d'expiration</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{ month }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-2">
                            <label>Année d'expiration</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{ year }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    

                </div>

                <!-- submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-sm" class="btn btn-primary btn-sm">Acheter</button>
                    <!-- <button type="submit" class="btn btn-info">Acheter</button> -->
                </div>
            </form>
        </div>
    </div>
</div>
